<header>
  <%= image_tag("logo.png", :alt => "Guiter Coach", :id => "logo") %>
  <span class="main-title">Guitar Coach</span>
  <nav class="round">
    <ul>
      <li><%= link_to "Practice Shedule", '#' %></li>
      <li><%= link_to "Chord Changes", '#' %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>
<div class='lofasz'></div>
